
<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Prestamos de pruebas Psicologicas</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Manual</a></li>
      <li><a href="">Protocolo</a></li>
      <li><a href="">Datos normativos</a></li>
    </ul>
  </div>
</nav>

<div align="center">
  <h1 class="titulo">Test Psicologico</h1>
  <img src="assets/imagenes/test.jpg" width="200" height="200"/>
  <br>
</div>                                                  
 
  <div class="row">
      <div class="col s12" align="center"><h3 class="titulo">¿Qué es un test psicologico?</h3></div><br><br><br>

      <div class="col s6">
      <p class="texto">
      Un test psicológico o prueba psicológica es un instrumento experimental que
      tiene por objeto medir o evaluar una característica psicológica específica,
      o los rasgos generales de la personalidad de un individuo. Como justificación
      teórica de la validez de una medición mediante el uso de test psicológicos,
      se argumenta que el comportamiento individual que los reactivos de la prueba
      provoca puede ser valorado en comparación estadística o cualitativa con el de
      otros individuos sometidos a la misma situación experimental, con lo que se da
      lugar a una determinada clasificación del sujeto. La construcción del test
      debe procurar que el comportamiento específico ante determinado reactivo
      represente lo más fielmente posible el funcionamiento del sujeto en situaciones
      cotidianas donde se pone en ejecución real la capacidad que el test pretende evaluar.
      </p>
      </div>
      <br>
      <h4 class="test">Video: Test de personalidad</h4>
      <div class="col s6"><video src="assets/imagenes/test.mp4" controls></video></div>
  </div>


  <div class="row">
    
      <div class="col s6"><h4 class="titulo">Ingrese su prestamo</h4></div>
      <div class="col s6"><h4 class="titulo">Tipos de ramas de los arboles</h4></div><br>

    <div class="col s6">

          <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Ingrese su Nombre" id="first_name" type="text" class="validate">
                <label for="first_name" class="varios">Nombre</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="Ingrese su Apellido" id="last_name" type="text" class="validate">
                <label for="last_name" class="varios">Apellido</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="cedula" type="text" class="validate">
                <label for="cedula" class="varios">Cedula</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email" class="varios">Correo electronico</label>
              </div>
            </div>
            <label class="select">Naturaleza o tipo de persona:</label>
              <select class="browser-default">
                <option value="" disabled selected>Seleccione una naturaleza</option>
                <option value="1">Psicologo</option>
                <option value="2">Docente</option>
                <option value="3">Estudiante</option>
                <option value="3">Otros</option>
              </select>
              <br><br>
              <span class="radio">Seleccione una prueba</span>
              <p>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Rastreo cognitivo</label>
              </p>
              <p>
                <input name="group1" type="radio" id="test2" />
                <label for="test2">Test especifico</label>
              </p>
              <p>
                <input class="with-gap" name="group1" type="radio" id="test3"  />
                <label for="test3">Baterias completas</label>
              </p>
              <br>
               <button class="btn waves-effect waves-light" type="submit" name="action">
                  <i class="material-icons right">aceptar</i>
              </button>
          </form>
        </div>
    </div>


    <div class="col s6">
          <table>
          <thead>
            <tr>
                <th data-field="id">Nombre</th>
                <th data-field="name">Significado</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Ramas de un solo trazo</td>
              <td>personalidad afable, calida</td>
            </tr>

            <tr>
              <td>Ramas de 2 trazos</td>
              <td>Buena discriminacion de la realidad</td>
            </tr>

            <tr>
              <td>Ramas tridimensionales</td>
              <td>Deseos de destacarse, originalidad</td>
            </tr>

          </tbody>
         </table>
    </div>           
</div>

 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Electiva II</h5>
                <p class="grey-text text-lighten-4">Trabajo hecho con Visual Studio Code, Angular y Materialize</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Descargar</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://code.visualstudio.com/download">Visual Studio Code</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://angularjs.org/">Angular</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Materialize</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Trabajo realizado por: Johnnathan Stiven Navarro
            </div>
          </div>
</footer>
