/* You can add global styles to this file, and also import other style files */
.titulo
{
    color:#263238 ;
    
}
.texto
{
    font: oblique bold 120% cursive; 
    color: #607d8b ;
}
.test
{
    color: #455a64; 
    text-align:center;
}
.radio
{
    font: oblique bold 120% cursive; 
    color: #607d8b ;
}
.select
{
    font: oblique bold 120% cursive; 
    color: #607d8b ;
}
.varios
{
    font: oblique bold 120% cursive; 
    color: #607d8b ;
}
